{% extends "base.html" %}
{% load humanize %}

{% block title %}Raid Tool{% endblock %}

{% block head %}<script type="text/javascript" src="{{MEDIA_URL}}js/dynamic-formset.js"></script>{% endblock %}

{% block head_js %}
	$(document).ready(function () {
        $('.add-row').click(function() {
    	    return addForm(this, getPrefix(this.id));
        });
        $('.delete-row').click(function() {
    	    return deleteForm(this, getPrefix(this.id));
        })
        $("select.asdf").change(function(){
			$.getJSON("/api/progression//get/",{id: $(this).val(), view: 'json'}, function(j) {
				var options = '<option value="">Normal mode</option>';
				for (var i = 0; i < j.length; i++) {
					options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
				}
				$("#id_item").html(options);
				$("#id_item option:first").attr('selected', 'selected');
			})
			$("#id_category").attr('selected', 'selected');
	    })
    });
    
    function getPrefix(input) {
		var prefix = input.substring(0, input.indexOf('-'));
		return prefix;
    }
{% endblock %}

{% block content %}
								<h1><a href="{% url kapai_django.raidtool.views.index %}">Raid Tool</a> &gt; Edit encounters for {% include "raidtool/char_nameplate.html" %}</h1>
								<p>You can modify the boss encounters you need, or <a href="{% url kapai_django.raidtool.views.char_view char_id=char.id %}">go back</a>.</p>
								<p>Please make sure that you come back to remove bosses you are no longer interested in.</p>
								<form action="{% url kapai_django.raidtool.views.char_edit_encounters char_id=char.id %}" method="post">
								{% for instance, formset in forms.items %}
								<h2>{{ instance.name }}</h2>
								{{ formset.management_form }}
								<table class="data-table">
									{% for form in formset.forms %}
									{{ form.as_table }}
									<tr><td colspan="2">&nbsp;</td></tr>
									{% endfor %}
								</table>
								<br />
								{% endfor %}
								<p><input type="submit" value="Save"></p>
								</form>
{% endblock %}