{% extends "base.html" %}
{% load humanize %}

{% block title %}Gallery | Upload{% endblock %}

{% block nav %}<a href="{% url kapai_django.index.views.index %}">home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url kapai_django.progression.views.index %}">progression</a>&nbsp;&nbsp;|&nbsp;&nbsp;<strong>gallery</strong>&nbsp;&nbsp;|&nbsp;&nbsp;{% endblock %}

{% block content %}
								<h1>Gallery - Upload</h1>
								<form action="{% url kapai_django.gallery.views.upload %}" method="post" enctype="multipart/form-data">
								{{ uploadform.as_p }}
								<input type="submit" value="Submit" />
								</form>
{% endblock %}